@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
/* base styles */


body {
  background: rgb(247, 245, 245);
  font-family: 'Roboto';
  color: #444;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  background-color: #D69425;
}
nav ul{
  display: flex;
  justify-content: space-around;
}
div span{
  display: flex;
  align-items: center;
}
nav h1 {
  text-align: center;
}
nav a {
  color: rgb(235, 226, 226);
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
nav .navlogo{
  display: flex;
}

nav img {
  max-width: 40px;
  display: block;
  padding: 10px 15px;
  position: relative;
}



.navLinks ul:hover a::after {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

.navLinks ul:hover a {
  color: #2e2d2b;

}

.navLinks ul a::after {

  width: 100%;
  height: 1px;
  background-color: #2e2d2b;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}
body .x{
  display:block;
  margin: 5px;
}

form {
  max-width: 300px;
  margin: 5px;

}

form input {
  width: 100%;
  border-radius: 55px 55px 55px 55px / 48px 48px 48px 48px; 
  border: 2px solid rgb(235, 226, 226); 
}

input,
textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #D69425;
  font-family: 'Roboto';
  background-color: rgb(153, 148, 148);
}

form button {
  width: 80px;
  height: 40px;
  cursor: pointer;
  background: #D69425;
  border: 1px solid #2e2d2b;
  outline: none;
  transition: 1s ease-in-out;
  border-radius: 55px 55px 55px 55px / 48px 48px 48px 48px; 
  border: 2px solid rgb(235, 226, 226); 
}

textarea {
  min-height: 200px;
  border-radius: 19px 19px 19px 19px; 
  border: 2px solid rgb(235, 226, 226); 
}

/* post list */
.post {
  padding: 16px;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
}

.post h2 {
  margin: 0;
}

.post p {
  margin-top: 0;
}

.post a {
  color: #36cca2;
}

body h1 {
  
  background-color: #ebaf49;
  font-family: 'Oswald';
  border-radius: 10px 10px 10px 10px
}

@media screen and (max-width: 992px) {
  body {
    background-color: white;
  }
}


@media screen and (max-width: 600px) {
 
  nav ul{
    display:grid ;
    text-align: center;
    margin-right: 10%;
    
  }
  nav ul a{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;

  }
  nav ul a:hover{
    color: #2e2d2b;
  }
  form{
    text-align: center;
    display: flex;
  }
  form button {
    width: 25%;
    height: 30px;
    margin: 2px;
    cursor: pointer;
    background: white;
    border: 1px solid #ebaf49;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 5px;
 
  }
  .search input{
    margin: auto;
    width: 60%;
    text-align: center;
    border-radius: 5px; 
  }
  body h1{
    font-size: 5vw;
  }
  .post{
    font-size: 5vw;
    margin: 2px;
  }
  .navlogo a{
    display: none;
  }
  .navlogo span{
    font-size: 20px;
    padding: 10px;
  }
  body .x{
  display:block;
  margin: 20px;
  text-align: center;

  }
}
