@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
/* base styles */


body {
  background: rgb(247, 245, 245);
  font-family: 'Roboto';
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;


}

nav {
  background-color: #D69425;

}

nav h1 {
  text-align: left;
  margin: 2%;



}

nav a {

  color: rgb(235, 226, 226);
  display: inline-block;
  text-decoration-style: solid;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 13px 40px;
  position: relative;
  transition: 0.4s ease;
}

nav img {
  max-width: 40px;
  display: block;
  padding: 10px 15px;
  position: relative;
}

.navLinks {
  text-align: left;
  background-color: rgb(22, 21, 21);
  height: 50px;
}

.navLinks ul:hover a::after {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

.navLinks ul:hover a {
  color: #D69425;
}

.navLinks ul a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  height: 2px;
  background-color: #D69425;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}

form {
  max-width: 400px;
}

form input {
  width: 100%;
}

input,
textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #D69425;
  font-family: 'Roboto';
  background-color: rgb(153, 148, 148);
}

form button {
  width: 80px;
  height: 40px;
  cursor: pointer;
  background: #D69425;
  border: 1px solid #2e2d2b;
  outline: none;
  transition: 1s ease-in-out;
}

textarea {
  min-height: 200px;
}

/* post list */
.post {
  padding: 16px;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
}

.post h2 {
  margin: 0;
}

.post p {
  margin-top: 0;
}

.post a {
  color: #36cca2;
}

body h1 {
  background-attachment: fixed;
  background-color: #ebaf49;
  font-family: 'Oswald';
}
